@model MyViewModel
@section Styles {
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
}
<script>
    window.commandTypeData = @Html.Raw(Json.Serialize(Model.CommandTypes));
</script>
<p>Отправка команды на терминал</p>

<form id="myForm" asp-action="PostCommand" onsubmit="updateActionUrl()">
    <div class="container-lable">
        <label asp-for="CommandViewModel.TerminalId" class="lable-a">ID Терминала(ов)</label>
        <label asp-for="CommandViewModel.CommandId" class="lable-b">Команда</label>
    </div>
    <div class="container-input">
        <textarea asp-for="CommandViewModel.TerminalId" type="text" class="a" id="terminalId" name="TerminalId" style="resize:none;"></textarea>
        <input asp-for="CommandViewModel.CommandId" type="text" class="hidden-input" id="hiddenInput" name="CommandId">
        <input type="text" class="b" list="commandList" id="commandInput" placeholder="Выберите команду" onchange="updateCommandId(this)">
        <datalist class="datalist-b" id="commandList">
            @foreach (var commandType in Model.CommandTypes)
            {
                <option value="@commandType.name" data-id="@commandType.id"></option>
            }
        </datalist>
    </div>
    <div class="container-lable" id="lablesContainer">
        <label for="parameter1" class="parameters-lable">Команда</label>
        <label for="parameter2" class="parameters-lable">Команда</label>
        <label for="parameter3" class="parameters-lable">Команда</label>
    </div>
    <div class="container-input" id="parametersContainer">
        <input asp-for="CommandViewModel.Parameter1" type="text" class="parameters-input" id="parameter1" name="Parameter1">
        <input asp-for="CommandViewModel.Parameter2" type="text" class="parameters-input" id="parameter2" name="Parameter2">
        <input asp-for="CommandViewModel.Parameter3" type="text" class="parameters-input" id="parameter3" name="Parameter3">
    </div>

    <div class="container-buttons">
        <button class="btn-back">Назад</button>
        <button type="submit" class="btn-send">Отправить</button>
    </div>
</form>